{%- capture list -%}
  {{- page.list | default: include.list -}}
{%- endcapture -%}

{%- if list -%}
  {%- assign collection = site.collections | where:'label', list | first -%}

  {%- assign docs = collection.docs | where:"lang", page.lang -%}

  {%- assign level = 1 -%}
  {%- if page.title -%}
    {%- assign level = level | plus: 1 -%}
  {%- endif -%}

  {%- if docs.size > 0 -%}
  <ul class="post-list">
    {%- if page.list_title -%}
    <h{{- level }} class="post-list-heading">{{ page.list_title }}</h{{- level -}}>
      {%- assign level = level | plus: 1 -%}
    {%- endif -%}

    {%- if include.reverse -%}
      {%- for doc in docs reversed -%}
        {%- include archive-single.html level = level -%}
      {%- endfor -%}
    {%- else -%}
      {%- for doc in docs -%}
        {%- include archive-single.html level = level -%}
      {%- endfor -%}
    {%- endif -%}
    {%- if list == 'posts' -%}
    <p class="feed-subscribe">
      <a href="{{ '/feed.xml' | prepend: page.lang | relative_url }}">
        <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>{{site.data.translations['subscribe'][page.lang]}}</span>
      </a>
    </p>
    {%- endif -%}
  </ul>
  {%- endif -%}
{%- endif -%}
